<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>결제확인</title>

    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
<div th:replace="~{fragments/nav :: nav(${navTitle}, @{/items}, ${tableNum})}"></div>

<div class="confirm-success-container">
    <div class="inline-action">
        <p>주문이 접수되었습니다!</p>
        <a th:href="@{/items}" id="menu-btn" class="outline-button inline-button">추가 주문하기</a>
    </div>
</div>
</body>
</html>
